[submodule "pharmacy-system-frontend"]
	path = pharmacy-system-frontend
	url = https://github.com/wiktormalyska/pharmacy-system-frontend
[submodule "pharmacy-system-backend"]
	path = pharmacy-system-backend
	url = https://github.com/wiktormalyska/pharmacy-system-backend
